/*about-us section*/

.ui-container{
  background-color: black;
  outline: white; 
  z-index: 10;
}
.ui-container img{
  height: 30%;
  width: 100%;
  opacity: 0.3;    
  z-index:5; 
}

.card-img-overlay h1{
  color: #d5d5d5;
  margin-top: 7%;
  padding: 20px;
  font-weight: 700;
}

/*-------------------*/



/*timeline*/

.timeline{ text-align: center;}
.timeline h3{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  
}

.timeline hr {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 3rem;
  width: 300px; 
  border-top: 3px solid rgba(0, 0, 0, 0.1);
}

.booking, .check-in, .check-out, .complete{
    color: white;
    font-weight: 700;
    font-size: 40px;
  }

  .booking{
    background-color: #00ace6;
  }
  .check-in{
    background-color: #0086b3;
  }
  .check-out{
    background-color:  #54ac51;
  }
  .complete{
    background-color: #85d560;
  }

  .text-component p{
    text-align: left;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
  }

  .text-component .buttons{
    margin-left: auto;
    margin-right: auto;
  }

  /*-------------------------*/



/*location*/
.card{
  margin: 0 auto;
  float: none; 
  margin-bottom: 10px;
  border: none; 
}

.location{
  padding: 10px;
}

.location h3, .location h5, .location p{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}


.location .card{
  text-align: left; 
}
