/*about-us section*/

.ui-container{
  background-color: black;
  outline: white; 
  z-index: 10;
}
.ui-container img{
  height: 30%;
  width: 100%;
  opacity: 0.3;    
  /* z-index:5;  */
  margin-top: auto;
  margin-bottom: auto;
}

.ui-container .card-img-overlay h1 br{
  display: none;
}

.card-img-overlay{
  margin-top: 5%;
}

.card-img-overlay h1, .card-img-overlay h5{
  color: #d5d5d5;
  font-weight: 700;
  margin-top: auto;
  margin-bottom: auto;
}

/*navigation*/
.navigation{
  width: 100% !important;
  height: 238px;
}

.navBar{
  padding-left: 85px;
}

.navBar a{
  font-size: 17px;
}
/*-------------------*/

/*mission*/
.mission .float-left, .mission .float-right, .mission2 .float-left, .mission2 .float-right{
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
  padding: 20px;
  width: 50%;
}

.mission .float-left img{
  margin-left: 40px;
}

.big-images{
  width: 550px;
  height: 450px;
  margin:auto;
}

.mission-box{
  width: 450px;
  height: 450px;
}

.mission-box div{
  width: 450px;
  height: 350px;
  background-image: linear-gradient(to bottom right, 	 #99e6ff, #00ace6);
}

.mission2 .float-right .mission-box div{
  margin-left: 110px;
}

.mission2 .float-right img{
  margin-left: 650px;
}

.mission2 .float-left br{
  display: none;
}

.mission .float-right h4, .mission2 .float-left h4{
  font-weight: 700;
  margin-bottom: 2rem;
}

.mission .float-right hr, .mission2 .float-left hr{
  width: 70px !important;
  margin-top: 0px !important;
  border-top: 3px solid #00ace6;
}

.mission .float-right p, .mission2 .float-left p{
  text-align: justify;
}

/*----------*/




/*timeline*/

.timeline{ text-align: center;}
.timeline h3{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  
}

.timeline hr {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 3rem;
  width: 300px; 
  border-top: 3px solid rgba(0, 0, 0, 0.1);
}

.booking, .check-in, .check-out, .complete{
    color: white;
    font-weight: 700;
    font-size: 40px;
  }

  .booking{
    background-color: #00ace6;
  }
  .check-in{
    background-color: #0086b3;
  }
  .check-out{
    background-color:  #54ac51;
  }
  .complete{
    background-color: #85d560;
  }

  .text-component p{
    text-align: left;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
  }

  .text-component .buttons{
    margin-left: auto;
    margin-right: auto;
  }

  /*-------------------------*/



/*location*/
.card{
  margin: 0 auto;
  float: none; 
  margin-bottom: 10px;
  border: none; 
}

.location{
  padding: 10px;
}

.location h3, .location h5, .location p{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}


.location .card{
  text-align: left; 
}

.form-control{
  font-family: Arial, Helvetica, sans-serif;
  height: 40px;
}

select{
  background-image:
    linear-gradient(45deg, transparent 50%, #0086b3 60%),
    linear-gradient(135deg, #0086b3 40%, transparent 50%) !important;
    background-position:
    calc(100% - 30px) 14px,
    calc(100% - 20px) 14px,
    100% 0;
  background-size:
    10px 10px,
    10px 10px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
}


@media only screen and (max-width: 768px){
  /*about us container*/
  .ui-container{ 
    height: 450px;  
  }

  .ui-container img{
    height: 450px;
    width: 450px;
    opacity: 0.5;
    padding: 0px;
  }
  
  .aboutImg{
    visibility: hidden;
  }

  .ui-container .visibility{
    visibility: visible;
  }

  .ui-container .card-img-overlay br{
    display: initial;
  }
  
  /*------------------*/

  /*mission*/
  .mission .float-right{
    float: none;
    width: 100%;
  }

  .mission .float-left{
    padding-bottom: 0px;
    margin-bottom: -50px;
  }

  .mission-box div{
    height: 300px;
    width: 260px;
  }

  .mission-box{
    width: 300px;
  }

  .big-images{
    height: 380px;
    width: 300px;
    margin-top: 15px;
  }

  .mission2 .float-left{
    margin-top: 440px;
    width: 100%;
    float: none;
  }

  .mission2 .float-left br{
    display: initial;
  }

  .mission2 .float-right{
    margin-top: -750px;
    margin-left: 20px;
  }

  .mission2 .float-right .mission-box div{
    margin-left: 0px;
  }
  
  .mission2 .float-right .big-images{
    margin-left: 10px;
  }

  /*---------------------*/

  .timeline .cd-timeline__img {
    font-size: 20px;
  }



}