#main-content {
	padding:50px 0;
	text-align:center;
}
.big-box {
	margin-bottom:40px;
}

.align-center:hover  i {
	color:#428bca;
	-webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;
}

.box-bg {
	margin-bottom:80px;
}


.swmPoolPara{
	font-size:23px;
	font-style: italic;
	font-weight: bold;
}
.paragraphSwm{
	font-weight: bold;
	font-size: 20px;
}
.parkFig{
	width: auto;
	height: 424px;

}
.bgImg{
	background-image: url(image/parkPool/bgGrey.jpg);
}
.indoorCardPara{
	font-size: 20px;
}
.indoorCardTitle{
	font-size: 27px;
	font-weight: bold;
	font-style: oblique;
}
